h1 {
  font-variant: all-small-caps;
  font-family: Tex Gyre Adventor, "Century Gothic", Futura, sans-serif;
  color: #af0000;
}

/* Links */
a:link {
  color: #af0000;
}
a:active {
  color: #af0000;
}
a:visited {
  color: #af0000;
}

/* Rulers */
hr {
  border: none;
  /*border-top: 3px double #333;*/
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: auto;
  width: 30%;
}
hr:after {
  content: "§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/* Main section */
main {
  text-align: center;
  margin-bottom: 2rem;
}

main>strong:first-of-type {
  display: block;
  font-size: x-large;
}
main img {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Publisher Info Box */
main dt {
  display: none;
}
main dt::after {
  content: ": ";
}
main dt:nth-of-type(6) {
  display: inline;
}
main dt:nth-of-type(8) {
  display: inline;
  font-size: small;
}
main dt:nth-of-type(8)::before {
  content: "\a(";
  white-space: pre;
}
main dd {
  display: inline;
  margin: 0;
}
main details dd:nth-of-type(1), main details dd:nth-of-type(2)  {
  display: none;
}
main dd:not(:last-of-type):not(:first-of-type)::after {
  content: ","
}
main dd:first-of-type {
  display: block
}
main dd:nth-of-type(6)::after {
  content: "" !important;
}
main dd:nth-of-type(7) {
  display: none;
}
main dd:nth-of-type(8){
  font-size: small;
}
main dd:nth-of-type(8)::after {
  content: ")";
}

/* Presentation  */
article section:first-of-type h2 {
  display: none;
}
article section > p:first-of-type::first-letter {
  margin: -0.6rem 0 -1.5rem;
  padding: 0;
  float: left;
  font-size: 300%;
}

/* Extraits */
article section blockquote::first-letter {
  margin: -0.6rem 0 -1.5rem 1rem;
  padding: 0;
  float: left;
  font-size: 300%;
}

/* La lucarne */
footer section {
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  margin: auto;
  max-width: 50%;
}
footer section address {
  text-align: left;
}

footer section h2 {
  margin-top: 0;
}
footer section address a {
  font-style: normal;
  margin-left: 2rem;
  margin-top: 15px;
}
footer section address a {
/*  display: block;*/
}
footer section address a[href^="https://goo"]::before {
  content: "🌍 ";
}
footer section address a[href^="https://la"]::before {
  content: "🌐 ";
}
footer section address a[href^="mailto"]::before {
  content: "📧 ";
}
footer section address a[href^="tel"]::before {
  content: "📱 ";
}

.parc_logo {
  margin: auto;
  background-color: grey;
  display: flex;
  width: 12rem;
  height: 12rem;
  border: 5px solid #222222;
}
.parc_logo * {
  font-size: 4.7rem;
  color: black;
  font-family: "Tex Gyre Adventor", "Century Gothic", Futura, sans-serif;
  font-variant: normal;
  font-weight: bold;
  text-align: center;
  line-height: 6.5rem;
  width: 100%;
  align-self: flex-end;
}

header strong {
  text-align: center;
  display: block;
}
