h1 {
  font-variant: all-small-caps;
  font-family: Tex Gyre Adventor, "Century Gothic", Futura, sans-serif;
  color: #af0000;
}

.parc_logo {
  margin: auto;
  background-color: grey;
  display: flex;
  width: 12rem;
  height: 12rem;
  border: 5px solid #222222;
}
.parc_logo * {
  font-size: 4.7rem;
  color: black;
  font-family: "Tex Gyre Adventor", "Century Gothic", Futura, sans-serif;
  font-variant: normal;
  font-weight: bold;
  text-align: center;
  line-height: 6.5rem;
  width: 100%;
  align-self: flex-end;
}

/* XXX */
/* Not clear if these two are safe to use with books */
article ul {
  font-size: large;
  line-height: 2rem;
}

/* Our use of strong may be problematic */
strong {
  display: block;
  text-align: center;
  font-family: Tex Gyre Adventor, "Century Gothic", Futura, sans-serif;
}

/* Given we did override this, we need it back here - probably should have  */
details strong {
  display: inline;
}
/* XXX */

body {
  background-color: rgb(2, 3, 4);
}

a:link {
  color: #ffff66;
}
a:hover {
  color: #ffffff;
}
a:visited {
  color: #aaaa66;
}

footer {
  font-variant: small-caps;
}
