html {
  height: 100%;
}

body {
  font-family: Libertinus Serif, serif;
  background-color: rgb(2, 3, 4);
  min-height: 100%;
  /*text-align: justify;*/
  max-width: 1024px;
  padding: 2rem 2em 2rem;
  color: #ffffff;
  margin: 2rem auto;
}

a:link {
  color: #ffff66;
  text-decoration: none;
}
a:hover {
  color: #ffffff;
  text-decoration: underline;
}
a:visited {
  color: #aaaa66;
}

h2 {
  font-size: large;
  margin-top: 3rem;
  text-align: center;
  font-variant: small-caps;
  width: 100%;
  border-bottom: 1px solid black;
}

mark {
  font-style: italic;
  background-color: transparent;
  color: inherit;
  font-weight: bold;
}

strong {
  font-variant: small-caps;
  display: block;
  text-align: center;
  font-family: Tex Gyre Adventor, "Century Gothic", Futura, sans-serif;
}

aside {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0rem;
  color: #29627e;
  border: 1px solid black;
}

hr {
  /*border-top: 3px double #333;*/
  /*      border: none;
        color: #333;
        overflow: visible;
        text-align: center;
        height: 5px;
        margin: auto;
        width: 30%;*/
}
/*
    hr:after {
      content: "§";
      padding: 0 4px;
      position: relative;
      top: -13px;
    }
*/

h1 {
  font-variant: all-small-caps;
  font-family: Tex Gyre Adventor, "Century Gothic", Futura, sans-serif;
  color: grey;
  font-size: xxx-large;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: large;
  margin-top: 3rem;
  border-bottom: 3px solid white;
  font-variant: small-caps;
  width: 100%;
}

.parc_logo {
  margin: auto;
  background-color: grey;
  display: flex;
  width: 12rem;
  height: 12rem;
  border: 5px solid #222222;
}
.parc_logo * {
  font-size: 4.7rem;
  color: black;
  font-family: "Tex Gyre Adventor", "Century Gothic", Futura, sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 6.5rem;
  width: 100%;
  align-self: flex-end;
}

/* Bottom navigation */
nav {
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid black;
}
nav ul {
  margin: 0;
  padding: 0;
  line-height: 2rem;
}
nav li {
  padding: 1rem;
  display: inline;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

article ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: large;
  line-height: 2rem;
}
